@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

header {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: darkred;
    border-bottom: 3px solid yellow;
}

nav {
    width: 80%;
    background-color: darkred;
}

ul {
    width: 90%;
    display: flex;
    justify-content: space-between;
    background-color: darkred;
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 20px;
    transition: .5s;
    font-family: 'Kdam Thmor Pro', sans-serif;
    background-color: darkred;
}

li:hover {
    color: yellow;
}

#logo {
    width: 165px;
    height: auto;
    background-color: darkred;
}

@media(max-width: 768px){

    nav {
        display: none;
    }

}