.divToda {
    padding-top: 10px;
    background-color: darkred;
    width: 800px;
    height: 520px;
    margin: auto;
    display: grid;
    justify-items: center;
    align-items: center;
}

.Fileiras {
    background-color: darkred;
    width: 90%;
    height: 40px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(10, 1fr);
    row-gap: 20px;
    column-gap: 40px;
    padding-right: 40px;
}

.cadeiras {
    background-color: black;
    color: white;
    display: grid;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 8px;
}

.cadeiras:hover {
    background-color: yellow;
    color: black;
    transition: .5s;
}

.tela {
    width: 70%;
}

@media(max-width: 768px) {

    .divToda {
        padding: 90px 0px 242px;
        width: 700px;
        height: 315px;
        margin-top: 50px;
    }

    .cadeiras {
        width: 30px;
        height: 30px;
        border-radius: 6px;
        font-size: 15px;
    }

    .Fileiras {
        padding-right: 20px;
    }

    #divDiv {
        padding: 153px 0px;
    }

}
