@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: white;
}

#divToda {
    width: 100%;
}

#divInfo {
    display: grid;
    padding: 100px 250px 100px; 
}

#titulo2 {
    padding-left: 150px;
}

.infocontato {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 30px;
    width: 700px;
    
}

.spanContato {
    background-color: red;
}

.contato {
    margin-right: 200px;
    width:300px;
}

.contato:hover {
    transition: 0.8s;
    color: yellow;
}

#endereco {
    width: 500px;
    margin-right: -200px;
}

#endereco-celular {
    display: none;
}

/* #titulo {
    color: white;
    font-family: 'Kdam Thmor Pro', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
} */

@media(max-width: 768px) {
    
    #divInfo {
        padding: 325px 50px;
        height: 100%;
    }

    #titulo {
        padding: 0px 75px 0px;
    }

    #titulo2 {
        padding: 0px 220px 0px;
    }

    .infocontato {
        margin-left: 5px;
        width: 665px;
    }

}
